<!-- ward.component.html -->
<br>
<br>
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="row mb-3">
        <div class="col d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="addNewRow()" style="position:relative;top:50px;width:120px;border-radius:10px;right:250px;height:45px;">AddNew</button>
        </div>
      </div>
      <div class="tablediv">
        <h2 style="color: white;text-align: center;position:relative;max-width: 700px; right: 170px; bottom: 80px;" >Room Type</h2>
        <table mat-table class="mat-elevation-z8" style="position:relative;right:230px;top:0px;border-collapse: collapse;box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.717);">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let roomType; let i = index">
              <ng-container *ngIf="!isEditMode(i); else editMode">
                {{ roomType.name }}
              </ng-container>
              <ng-template #editMode>
                <input matInput type="text" [(ngModel)]="roomType.name" (keyup.enter)="editRoomType(i)">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let roomType">{{roomType.status}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let roomType; let i = index">
              <ng-container *ngIf="!isEditMode(i)">
                <button mat-icon-button (click)="toggleEditMode(i)">
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-container>
              <button mat-icon-button color="warn" (click)="deleteRoomType(roomType)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name', 'status', 'action']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'status', 'action']; let i = index;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
