<div class="container-fluid">
  <div class="row" style="position:relative;right:50px;top:20px ;">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="row mb-3">
        <h2 style="position:relative;z-index:1;color: white;">Doctor</h2>
        <div class="col d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="addNewDoctor()" style="position:relative;top:150px;right:250px;width:120px;height:45px;">Add</button>
        </div>
      </div>
      <table mat-table [dataSource]="doctors" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
          <td mat-cell *matCellDef="let doctor"> {{ doctor[0] }} </td>
        </ng-container>

        <ng-container matColumnDef="departmentName">
          <th mat-header-cell *matHeaderCellDef> Department Name </th>
          <td mat-cell *matCellDef="let doctor"> {{ doctor[2] }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let doctor"> {{ doctor[1] }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let doctor">
            <button mat-icon-button (click)="toggleEditMode(1)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletedoctor(doctor)">
              <mat-icon style="color: red;">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
  </div>
  </div>
