<div class="container">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="d-flex">
      <div class="addpatient">
        <label
          for="patientNumber"
          class="form-label"><b>Patient Number:</b></label
        ><br />
        <input
          placeholder="Enter Patient Number"
          type="text"
          id="patientNumber"
          class="form-control"
          formControlName="patientNumber"
          required
        />
        <!-- <div *ngIf="patientForm.get('patientNumber')?.errors?.['required']">
                First Name is required.
              </div> -->
      </div>
      <div class="Contact-No1">
        <button
          type="submit"
          class="btn">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div
  class="billing"
>
  <form
    *ngIf="billingForm"
    [formGroup]="billingForm"
    class="billing-form"
  >
    <h5
      class="card-title"
    >
      Billing
    </h5>
    <div style="position: relative; top: 20px">
      <div class="d-flex">
        <div>
          <label for="firstName" class="form-label"><b>First Name</b></label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName"
            required
          />
        </div>
        <div class="Contact-No">
          <label for="lastName" class="form-label"><b>Last Name</b></label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastName"
            required
          />
        </div>
        <div class="Contact-No">
          <label for="patientGender" class="form-label"
            ><b>Patient Gender</b></label
          >
          <input
            type="text"
            id="patientGender"
            class="form-control"
            formControlName="patientGender"
            required
          />
        </div>
      </div>

      <div class="d-flex">
        <div>
          <label for="patientAge" class="form-label"><b>Patient Age</b></label>
          <input
            type="number"
            id="patientAge"
            class="form-control"
            formControlName="patientAge"
            required
          />
        </div>
        <div class="Contact-No">
          <div>
            <label for="patientContactNo" class="form-label"
              ><b>Contact Number</b></label
            >
            <input
              type="number"
              id="patientContactNo"
              class="form-control"
              formControlName="patientContactNo"
              required
            />
          </div>
        </div>
        <div formGroupName="bedId">
          <div formGroupName="roomId">
            <div formGroupName="wardId" class="Contact-No">
              <label for="name" class="form-label"><b>Ward Name</b></label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div style="width: 230px">
          <label for="startDate" class="form-label"><b>Start Date</b></label>
          <input
            type="date"
            id="startDate"
            class="form-control"
            formControlName="startDate"
            required
          />
        </div>
        <div class="End-date">
          <div>
            <label for="endDate" class="form-label"><b>End Date</b></label>
            <input
              type="date"
              id="endDate"
              class="form-control"
              formControlName="endDate"
              required
            />
          </div>
        </div>
        <div class="No-days">
          <div>
            <label for="noOfDays" class="form-label"><b>No of Days</b></label>
            <input
              type="number"
              id="noOfDays"
              class="form-control"
              formControlName="noOfDays"
              required
            />
          </div>
        </div>
      </div>

      <div formGroupName="bedId">
        <div formGroupName="roomId">
          <div class="d-flex">
            <div formGroupName="roomTypeId">
              <label for="name" class="form-label"><b>Room Type</b></label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                required
              />
            </div>
            <div class="roomdiv" >
              <label for="roomNo" id="roomNo" class="form-label"
                ><b>RoomNo</b></label
              >
              <input
                type="text"
                id="roomNo"
                formControlName="roomNo"
                class="form-control"
                required
              />
            </div>
            <div class="roomdiv">
              <label for="roomPrice" class="form-label"
                ><b>RoomPrice (per day)</b></label
              ><br />
              <input
                type="text"
                id="roomPrice"
                formControlName="roomPrice"
                class="form-control"
                required
              />
              <!-- <p>Total Amount (no.of days * room Price) : {{billingForm.get('noOfDays')?.value * billingForm.get('bedId.roomId.roomPrice')?.value}}</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div formGroupName="bedId">
          <label for="bedNo" class="form-label"><b>Bed No</b></label
          ><br />
          <input
            type="number"
            id="bedNo"
            formControlName="bedNo"
            class="form-control"
            required
          />
        </div>

        <div class="roomdiv">
          <label for="paidAmount" class="form-label"><b>Paid Amount</b></label>
          <input
            type="text"
            id="paidAmount"
            class="form-control"
            formControlName="paidAmount"
            required
          />
        </div>
        <div class="roomdiv">
          <label for="totalAmount" class="form-label"
            ><b>Total Amount</b></label
          >
          <input
            type="text"
            id="totalAmount"
            class="form-control"
            formControlName="totalAmount"
            required
          />
        </div>
      </div>
      <div class="d-flex">
        <div>
          <label for="remainingAmount" class="form-label"
            ><b>Remaining Amount</b></label
          >
          <input
            type="number"
            id="remainingAmount"
            class="form-control"
            formControlName="remainingAmount"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            class="btn1"
            (click)="saveBillingForm()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
